<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>Zamo Productions in a NYC-based production company supporting live theatre. Our collective of tech and finance investors use their software & digital marketing expertise to support production teams.</p>
      </div>
      <div class="col-lg-4">
        <p>Whether you're an established producer or looking to expand your investments, we're here to help you support the arts.</p>
      </div>
    </div>
  </div>
</section>
